<footer id="footer" class="footer border-top">
    <div class="container footer-top">
        <div class="row gy-4">
            <div class="col-lg-4 col-md-6 footer-about">
                <a href="index.html" class="d-flex align-items-center">
                    <span class="sitename">Batuhan Topçu</span>
                </a>
                <div class="footer-contact pt-3">
                    <p class="mt-3"><strong>Telefon:</strong> <span>+90 553 857 0750</span></p>
                    <p><strong>Email:</strong> <span>topcubatuhan00@gmail.com</span></p>
                </div>
            </div>

            <div class="col-lg-4 col-md-12">
                <h4>Beni takip edin</h4>
                <div class="social-links d-flex">
                    <a href="https://github.com/topcubatuhan00"><i class="bi bi-github"></i></a>
                    <a href="https://www.linkedin.com/in/batuhantopcu/"><i class="bi bi-linkedin"></i></a>
                </div>
            </div>

        </div>
    </div>
</footer>